Service References/ServiceReference2/AddressBook.Common.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AddressBook.Common.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AddressBook.Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAddressBookModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressBookModel" nillable="true" type="tns:AddressBookModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressBookModel" nillable="true" type="tns:ArrayOfAddressBookModel" />
  <xs:complexType name="AddressBookModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contact" type="xs:long" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="InTheCountry" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressBookModel" nillable="true" type="tns:AddressBookModel" />
</xs:schema>